# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and databases
.symrtlo_cache.db
*.db
*.sqlite3

# Environments
.env
.venv
env/
venv/
ENV/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
